.wrapper :global(.react-datepicker) {
  width: 100%;
}
.wrapper :global(.react-datepicker__month-container) {
  width: 100%;
  padding: 0 15px 30px;
}
.wrapper :global(.react-datepicker__header) {
  padding: 30px 0;
  border: unset;
  background: #fff;
}
.wrapper :global(.react-datepicker__current-month) {
  font-size: 20px;
}
.wrapper :global(.react-datepicker__month) {
  margin: 0;
}
.wrapper :global(.react-datepicker__day-name) {
  flex: 1;
  aspect-ratio: 1.6;
}
.wrapper :global(.react-datepicker__day-names) {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.wrapper :global(.react-datepicker__day-name span) {
  font-size: 16px;
  color: var(--color-gray-700);
}
.wrapper :global(.react-datepicker__week) {
  display: flex;
  justify-content: space-between;
}
.wrapper :global(.react-datepicker__day) {
  flex: 1;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border-radius: 100% !important;
}
/* 다른 month인 경우 구분 */
.wrapper :global(.react-datepicker__day--outside-month) {
  color: #d1d5db;
}
.wrapper :global(.react-datepicker__day--today) {
  position: relative;
}
.wrapper :global(.react-datepicker__day--today::after) {
  content: "TODAY";
  display: inline-block;
  position: absolute;
  top: 0;
  font-size: 10px;
  font-weight: normal;
}

/*effect - disabled를 제외한 날짜를 hover, focus할 때
*/
.wrapper :global(.react-datepicker__day:not([aria-disabled="true"]):hover) {
  background-color: #e6f1ee;
}
.wrapper :global(.react-datepicker__day:focus-visible) {
  background-color: #e6f1ee !important;
}
/*effect - disabled를 제외하고 키보드 선택된 날짜는 아무 효과 없음
hover할 때는 배경 효과 on
*/
.wrapper :global(.react-datepicker__day--keyboard-selected:not([aria-disabled="true"]):hover) {
  color: rgb(0, 0, 0);
  background-color: #e6f1ee !important;
}
.wrapper :global(.react-datepicker__day--keyboard-selected) {
  background-color: transparent !important;
}
/*effect - 선택된 날짜는 main 컬러로 active효과,
hover 무시,
focus 시 글자만 진하게 (background가 연한 컬러),
disabled(예약 불가 날짜)의 경우 선택되어도 비활성화 css 유지
*/
.wrapper :global(.react-datepicker__day--selected) {
  background-color: #2b6a5c !important;
  color: #fff !important;
}
.wrapper :global(.react-datepicker__day--selected[aria-disabled="true"]) {
  background-color: transparent !important;
  color: #ccc !important;
}
.wrapper :global(.react-datepicker__day--selected:focus-visible) {
  color: #212121 !important;
}

/* navigation */
.wrapper :global(.react-datepicker__navigation--previous) {
  top: 32px;
  left: calc(50% - 100px);
}
.wrapper :global(.react-datepicker__navigation--previous span::before) {
  border-color: #212121;
}
.wrapper :global(.react-datepicker__navigation--previous:hover span::before) {
  border-color: #757575;
}
.wrapper :global(.react-datepicker__navigation--previous--disabled span::before) {
  border-color: #bdbdbd;
}
.wrapper :global(.react-datepicker__navigation--next) {
  top: 32px;
  right: calc(50% - 100px);
}
.wrapper :global(.react-datepicker__navigation--next span::before) {
  border-color: #212121;
}
.wrapper :global(.react-datepicker__navigation--next:hover span::before) {
  border-color: #757575;
}

@media (max-width: 767px) {
  .wrapper :global(.react-datepicker__header) {
    padding: 15px 0;
  }
  .wrapper :global(.react-datepicker__current-month) {
    font-size: 16px;
  }
  .wrapper :global(.react-datepicker__day-name span) {
    font-size: 14px;
  }
  .wrapper :global(.react-datepicker__day) {
    font-size: 12px;
  }
  .wrapper :global(.react-datepicker__day--today::after) {
    height: 18px;
    font-size: 9px;
  }
  .wrapper :global(.react-datepicker__navigation--previous) {
    top: 15px;
    left: calc(50% - 80px);
  }
  .wrapper :global(.react-datepicker__navigation--next) {
    top: 15px;
    right: calc(50% - 80px);
  }
  .wrapper :global(.react-datepicker__navigation--next span::before),
  .wrapper :global(.react-datepicker__navigation--previous span::before) {
    border-width: 2px 2px 0 0;
    width: 7px;
    height: 7px;
  }
}

@media (max-width: 410px) {
  .wrapper :global(.react-datepicker__day--today::after) {
    top: -5px;
  }
}
